body {
  background-color: gray;
}

body .container {
  background-color: rgb(32, 0, 53);
  border-radius: 3%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

header {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

header p {
  margin-top: -2%;
  margin-bottom: 5%;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

.form-input {
  text-align: left;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 2%;
  font-size: medium;
  color: white;
}

input {
  width: 75%;
  padding: auto;
  border-radius: 5px;
}

.form-input button {
  width: 20%;
  padding: auto;
  border-radius: 5px;
}

.form-input button:hover {
  background-color: grey;
  color: white;
}

.nav-action {
  margin-top: -10%;
  margin-bottom: -20%;
  padding: 12.5%;
}

.nav-action button {
  width: 30.8%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
}

.success {
  background-color: green;
  color: white;
}

.danger {
  background-color: red;
  color: white;
}

.info {
  background-color: aqua;
  color: black;
}

.success:hover {
  background-color: rgba(0, 128, 0, 0.445);
  color: white;
}

.danger:hover {
  background-color: rgba(255, 0, 0, 0.445);
  color: white;
}

.info:hover {
  background-color: rgba(0, 255, 255, 0.445);
  color: black;
}

.list-view {
  display: blok;
}

ol {
  list-style-type: none;
  counter-reset: my-counter;
}

li {
  counter-increment: my-counter;
  margin-left: -5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

li:before {
  content: counter(my-counter);
  display: inline-block;
  width: 5%;
  text-align: center;
  margin-right: 8px;
  font-weight: bold;
}

li {
  background-color: white;
}

li:hover {
  background-color: grey;
  color: white;
}

.clear-task {
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 20px;
  }

  header p {
    font-size: small;
  }

  .form-input button {
    font-size: 12px;
  }

  .nav-action button {
    font-size: 12px;
    width: 30%;
    border-radius: 10px;
  }
}
